*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body{
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%)
}

section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 480px;
    background-color: white;
    
}

img{
    margin: 15px;
    width: 90%;
    border-radius: 10px;
}

h2{
    font-size: 20px;
    padding: 0 20px;
}

p{
    font-size: 15px;
    padding: 20px;
    color: hsl(220, 15%, 55%);
}

a{
    text-decoration: none;
    color: black;
}

footer{
    display:flex;
    justify-content: center;
}

.atribuicao{
    text-align: center;
    width: 250px;
    font-size: 15px;
}